<!DOCTYPE html>
<html>

<head>
<style>
.logo .form {
  display: flex;
  justify-content: center;
}
h1, p, footer {
  text-align: center;
}
ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
</style>

<title>{{.Title}} - Homin.dev</title>
</head>

<body>
<h1 class="title">{{.Title}}</h1>
<p class="img"><img src="{{.Root}}img/{{.Img}}"></p>


{{if .Success}}
  <p class="msg">Thanks for your message!</p>
{{else}}
  <p class="msg">{{.Msg}}</p>
  <form method="POST" class="form">
  <div class="form">
    <label for="story">Message:</label>
    <textarea id="msg" name="msg" rows="5" cols="33" requierd>
      Hello world.
    </textarea>
    <label for="name">Name or E-mail</label>
    <div class="from">
      <input type="text" id="name" name="name" size="10">
    </div>
    <div class="form">
      <input type="submit" value="Send!">
    </div>
  </div>
  </form>
{{end}}

<p class="lastwords">{{.LastWords}}</p>

<footer>
  <small>&copy; Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
</footer>
</body>

</html>