<!DOCTYPE html>
<html>

<head>
<style>
.logo {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
}
.form-item {
  align-self: center;
}
h1, p, footer {
  text-align: center;
}
</style>

<title>{{.Title}} - Homin.dev</title>
</head>

<body>
<h1 class="title">{{.Title}}</h1>
<p class="img"><img src="{{.Img}}"></p>


{{if .Success}}
  <p class="msg">Thanks for your message!</p>
{{else}}
  <p class="msg">{{.Msg}}</p>
  <form method="POST" class="form">
  <div class="form">
    <div class="from-item">
      <label for="story">Message</label>
    </div>
    <div class="from-item">
      <textarea id="msg" name="msg" rows="5" cols="33" maxlength="100" requierd>잘 보고 갑니다</textarea>
    </div>
    <div class="from-item">
      <label for="name">Name or E-mail</label>
    </div>
    <div class="from-item">
      <input type="text" id="name" name="name" size="33">
    </div>
    <div class="form-item">
      <input type="submit" value="Send!">
    </div>
  </div>
  </form>
{{end}}

<p class="lastwords">{{.LastWords}}</p>

<footer>
  <small>&copy; Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
</footer>
</body>

</html>